.nav_bar {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid blue;
    position: fixed;
    width: 100%;
    top: 0;
}

#home-section {
    margin: 0;
    height: 630px;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url('images/bgheader.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.fa-chek {
    background-color: white;
    color: blue;
    padding: 0.5rem;
    border-radius: 10px;
}

form {
    border-radius: 15px;
    opacity: 0.8;
}

.explore-i {
    color: white;
    background-color: black;
}

.explore-i1 {
    color: blue;
    background-color: white;
}

@media (max-width: 992px) {
    .none {
        display: none;
    }
}